@require './palette'
@require './fonts'

html > body
  font-family $ffBase
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor
  background-color $backgroundColor
  *::selection
    background $accentColor
    color $backgroundColor
